<div flex layout="row">
<md-content flex>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Adicionar Cargo</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <form ng-submit="ctrl.salvar()" name="cargosForm">
          <md-input-container flex layout="row">
            <label>Nome Cargo</label>
            <input required name="nome" ng-model="ctrl.cargo.nome">
            <div ng-messages="cargosForm.nome.$error">
              <div ng-message="required">Nome do Cargo é obrigatório.</div>
            </div>
          </md-input-container>
        <md-button type="submit" class="md-raised" name="cargos.add">Salvar</md-button>
      </form>
    </md-card-content>
  </md-card>
</md-content>
</div>
