<!-- Default home page -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>

<div ng-controller="GlobalCtrl as global" ng-cloak>
  <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="global.currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-click="global.goto('home')" name="home">Home</md-nav-item>
      <md-nav-item md-nav-click="global.goto('cargos')" name="cargos">Cargos</md-nav-item>
      <md-nav-item md-nav-click="global.goto('page3')" name="page3">Page Three</md-nav-item>
    </md-nav-bar>
    <div class="ext-content">
      <div ui-view />
    </div>
  </md-content>
</div>
